/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  background-color: #ffffff;
  color: #222;
}

/* MENU LATERAL */
.sidebar {
  width: 230px;
  height: 100vh;
  background: #ffcc00;
  padding: 30px 20px;
}

.sidebar h1 {
  font-size: 22px;
  margin-bottom: 40px;
}

.sidebar nav a {
  display: block;
  text-decoration: none;
  color: #000;
  margin-bottom: 18px;
  font-weight: 600;
}

/* CONTEÚDO */
.content {
  flex: 1;
  padding: 40px;
}

/* HERO */
.hero {
  height: 300px;
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;

  background: linear-gradient(
    135deg,
    #ffcc00,
    #ffe066,
    #fff2b3
  );
}

.hero-text {
  max-width: 520px;
}

.hero h2 {
  font-size: 34px;
  margin-bottom: 15px;
}

.hero p {
  line-height: 1.6;
  margin-bottom: 25px;
}

.hero button {
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

/* SEÇÃO DESTAQUE */
.secao-destaque {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
  align-items: center;
}

/* TEXTO */
.texto-destaque {
  flex: 1;
}

.texto-destaque h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

.texto-destaque p {
  max-width: 420px;
  margin-bottom: 30px;
}

/* CARDS PEQUENOS */
.cards-pequenos {
  display: flex;
  gap: 15px;
}

.card-mini {
  padding: 12px 16px;
  background: #ffffff;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

/* BANNER LATERAL */
.banner-lateral {
  width: 320px;
  height: 360px;
  border-radius: 20px;
  background-image:
    linear-gradient(
      rgba(255,204,0,0.3),
      rgba(255,204,0,0.3)
    ),
    url("https://images.unsplash.com/photo-1518770660439-4636190af475");

  background-size: cover;
  background-position: center;
}

/* TEXTOS SIMPLES */
section h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.texto-central {
  max-width: 600px;
  line-height: 1.6;
}

/* RODAPÉ */
footer {
  margin-top: 100px;
  padding-top: 25px;
  border-top: 1px solid #ddd;
  font-size: 14px;
}
